<h1>Raad het getal</h1>

<p>Raad een getal tussen 1 en 100.</p>

<div *ngIf="aantalBeurten<=0"> 
  <p>Je beurten zijn om.</p>
  <button (click)="reset()">Reset</button>
</div>

<div *ngIf="gewonnen==true"> 
  <p>Proficiat! Je raadde het getal.</p>
  <button (click)="reset()">Reset</button>
</div>

<input matInput type="number" min="1" max="99" [disabled]="aantalBeurten<=0" #inputVeld/>
<button mat-button [disabled]="aantalBeurten<=0" (click)="valideerGok(inputVeld.value)" matBadge="{{ aantalBeurten }}" matBadgeColor="accent" matBadgePosition="after">Gok</button>

<p>{{feedback}} {{feedback2}}</p>
<p>{{feedback3}}</p>

