<h1>Raad het getal <button mat-mini-fab (click)="reset()" mat-mini-fab color="warn">home</button></h1>

<p>Raad een getal tussen 1 en 100. <br> Je hebt 10 kansen.</p>

<div *ngIf="aantalBeurten<=0"> 
  <p>Je beurten zijn op. We zochten het getal {{randomNumber}}</p>
  <button mat-button (click)="reset()">Speel nog eens!</button>
</div>

<div *ngIf="gewonnen==true"> 
  <p>Proficiat! Je raadde het getal.</p>
  <button mat-button (click)="reset()">Speel nog eens!</button>
</div>

<p>Kies een getal: 
  <input matInput type="number" min="1" max="99" [disabled]="aantalBeurten<=0" #inputVeld/>
  <button [disabled]="aantalBeurten<=0" (click)="valideerGok(inputVeld.value)" mat-flat-button color="primary" matBadge="{{ aantalBeurten }}" matBadgePosition="after" matBadgeColor="warn">Gok</button>
</p>

<p>{{feedback}}</p>
<p>{{feedback2}}</p>